@import "/home/liz/.config/waybar/theme-colors.css"; /* theme colors from nix */

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.85);
}
button {
    font-size: 32px;
    background-size: 25%;
    padding-bottom: 125px;
    margin: 10px;
    border-radius: 12px;
    background-color: @color-lighter-dark;
    border: 4px solid @color-accent-deep;
    color: var(--foreground);
}

button:focus, button:active, button:hover {
	background-color: @color-accent;
	outline-style: none;
}