@import "/home/liz/.config/wofi/theme-colors.css"; /* theme colors from nix */

* {
  font-family: Maple Mono;
  background: transparent;
  color: var(--color-foreground);
}

#window {
  color: var(--color-foreground);
  border-color: var(--color-foreground);
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-color: rgba(20, 18, 22, 0.7);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: var(--color-foreground);
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: var(--color-foreground);
  color: var(--color-foreground);
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 8px;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-style: none;

  color: var(--color-foreground);
  font-weight: bold;
  outline: none;
}

#input {
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--color-foreground);
  border-color: var(--color-foreground);

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: var(--color-accent);
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
